body{
    margin: 0px;
}
header{
    max-width: 1600px;
    margin: 0px auto;
    background: rgba(255, 144, 14, 0.1);
    border-radius: 8px;
}
.container{
    width: 1200px;
    margin: 0px auto;
}

/* family-work-sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* share commpme style */
.display-flex {
    display: flex;
}

.work-sans {
    font-family: "Work Sans", serif;
}

.pry-button {
    border-radius: 8px;
    background: rgb(255, 144, 14);
}

/* common color */
.dark-one {
    color: rgb(19, 19, 19);
}

.dark-two {
    color: rgb(66, 66, 66);
}

.dark-three {
    color: rgb(114, 114, 114);
}

/* header and navbar related style  */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.architects {
    font-size: 2.8rem;
    font-weight: 900;
}

.architects-ancor {
    gap: 30px;
}

.name {
    font-size: 1.5rem;
    text-decoration: none;
}

/*Brand New Group of Architects */
.Brand {
    text-align: center;
}

.Brand-title {
    font-size: 3.8rem;
    font-weight: 900;
}

.Brand-description {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: -30px;
    padding: 0px 250px 0px 250px;

}

#Explore {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 24px;
    text-align: center;
    margin-bottom: 30px;
}

.banner {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

/* Quick list of Our Features */
.Features {
    gap: 80px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 144, 14, 0.1);
    border-radius: 8px;

}

.Features-team {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.Features-title {
    font-size: 2rem;
    font-weight: 900;
    text-align: left;
    padding-right: 200px;
    margin-bottom: -10px;
}

.Features-description {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

#Quick {
    color: rgb(114, 114, 114);
}

#Feat {
    color: rgb(255, 136, 0);
}

#Explore {
    border: 0px solid;
    border-radius: 8px;
    background: rgb(255, 144, 14);
}

/* Features you will love & enjoy */
.love-and-enjoy {
    display: flex;
    gap: 100px;
    margin: 60px 0px 80px 0px;
}

.will-love-card-container {
    background: rgba(255, 144, 14, 0.1);
    border-radius: 8px;
    border: 0px solid;
    margin: 35px 290px 0px 20px;
    text-align: left;
}

.will-love-title {
    font-size: 2.3em;
    font-weight: 900;
    margin-bottom: -8px;
}

#will-love {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 25px;
}

.will-love-description {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    padding-right: 60px;
}

.will-love-card-title {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: -10px;
}

.will-love-card-description {
    font-size: 1rem;
    font-weight: 400;
}

.architect-img {
    width: auto;
    height: 600px;
}

#Experience-button {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 45px 42px;
    background-color: rgb(255, 144, 14);
    margin: -80px 0px 0px -180px;
    border: 0px solid;
    border-radius: 8px;
}

#Year-Experience {
    font-size: 4rem;
    width: 700;
}

/* Some-Facts */
.Some-Facts-card-title-description {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 80px;
}

.Some-Facts-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.Some-Facts-description {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 50px;
    width: 35%;
}

.card-some-img-title {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 190px;
    height: 150px;
    padding-top: 19px;
}

.Some-Facts-card-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1px 0px -15px 0px;

}

.Some-Facts-card-description {
    font-size: 1.3rem;
    font-weight: 700;
}

/* Sponspors-title */
.Sponspors-container {
    margin-top: 90px;
}

.Sponspors-title {
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
}

.Sponspors-descrition {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    width: 40%;
    margin: 0px auto;
}

.Sponspors-all-img {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 30px auto;
}
.Spons{
    filter: grayscale(100%);
}
.All-rights{
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px;
    width: 50%;
    text-align: center;
    background: rgb(255, 244, 231);
    margin: 90px auto 190px auto;
    border-radius: 8px;
}

/* Responsive Media Query */

@media screen and (max-width:576px) {
    .container{
        width:auto;
        margin: 0px auto;
    }
    .navbar {
        flex-direction: column;
        /* width: 80%; */
    }

    .architects-ancor {
        gap: 20px;

    }

    .Brand-description {
        padding: 0px 20px;
    }

    .banner {
        width: 100%;
    }

    .Features {
        flex-direction: column;
    }

    .Features-team {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .Features-title {
        text-align: center;
        padding-right: 70px;
        padding-left: 60px;
    }

    .Features-description {
        text-align: center;
    }

    .Features-Quick {
        text-align: center;
    }

    .love-and-enjoy {
        flex-direction: column;
    }

    .will-love-title {
        text-align: center;
    }

    #will-love {
        border-left: none;
    }

    .will-love-description {
        text-align: center;
        padding-right: 0px;

    }

    .will-love-card-container {
        text-align: center;
        background: none;
        margin-left: 5px;
        margin-right: 5px;

    }

    .architect-img {
        width: 100%;
 
    }

    #Experience-button {
        margin: 20px 0px 0px 80px;
    }

    .Some-Facts-title {
        text-align: center;
    }

    .Some-Facts-description {
        text-align: center;
        width: 100%;
    }

    .Some-Facts-card-title-description {
        grid-template-columns: 1fr;
        margin-left: 145px;
        row-gap: 10px;
    }

    .Sponspors-all-img {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .container{
        width:auto;
        margin: 0px auto;
    }
    .navbar {
        flex-direction: column;
        width: 90%;
    }

    .architects-ancor {
        gap: 70px;
    }

    .Brand-description {
        padding: 0px 30px;
        line-height: 30px;
    }

    .banner {
        width: 100%;
    }

    .Features {
        flex-direction: column;
    }

    .Features-team {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .team {
        width: 100%;
    }

    .Features-title {
        text-align: center;
        padding-right: 70px;
        padding-left: 60px;
    }

    .Features-description {
        text-align: center;
    }

    .Features-Quick {
        text-align: center;
    }

    .love-and-enjoy {
        flex-direction: column;
    }

    .will-love-title {
        text-align: center;
    }

    #will-love {
        border-left: none;
    }

    .will-love-description {
        text-align: center;
        padding-right: 0px;

    }

    .will-love-card-container {
        text-align: center;
        background: none;
        margin-left: 5px;
        margin-right: 5px;

    }

    .architect-img {
        width: 100%;
        height: auto;

    }

    #Experience-button {
        margin: 20px 0px 0px 220px;
    }

    .Some-Facts-title {
        text-align: center;
    }

    .Some-Facts-description {
        text-align: center;
        width: 80%;
        margin-left: 70px;
    }

    .Some-Facts-card-title-description {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 120px;
        row-gap: 80px;

    }

    .Sponspors-all-img {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }

}